*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  width: min(1128px, 85%);
  margin: 0 auto;
}

.hero-text {
  margin-bottom: 1em;
  margin-top: 0.5em;
  font-size: 2em;
}

.row {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn1,
.btn2,
.btn3 {
  padding: 1.5em 4em;
  margin-bottom: 2.5em;
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  color: green;
  background-color: white;
  border: 2px solid green;
}

.comChoice {
  padding: 1.5em 4em;
  margin-bottom: 2.5em;
  margin-right: 0.5em;
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  color: green;
  background-color: white;
  border: 2px solid green;
}

.choice{
    border: 2px solid black;
    background-color: white;
    padding: 1rem;
    width: 50%;
    margin: 0 auto 3rem auto;
    text-align: center;
    color: green;
}

.result-style{
     border: 2px solid black;
    background-color: white;
    padding: 1rem;
    width: 80%;
    margin: 2rem auto 1rem auto;
    text-align: center;
    color: red;
}
